.birthday-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  border: 1px solid #1b1b1b;
  border-radius: 8px;
  overflow: hidden;
  direction: rtl;
}

.birthday-card:nth-child(2n + 1) .content {
  flex-direction: row-reverse;
}

.birthday-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
}

.content {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #1b1b1b;
  color: #fff;
  align-items: center;
}

.content .name {
  color: #1b1b1b;
  background-color: #fff;
  padding: 4px 8px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  width: 50%;
  transition: 0.5s 0.1s ease;
}

.birthday-card:hover .name {
  display: block;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.birthday-card:hover .date {
  display: none;
  opacity: 0;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  width: 50%;
  text-align: center;
}

.date span {
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .birthday-card {
    width: 175px;
    height: 175px;
  }
  
  .date {
    width: 60%;
  }
}
