@font-face {
  font-family: "Iran Yekan";
  font-weight: 400;
  src: url("./assets/fonts/iranyekanregular.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  border-radius: 20px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0c4de6;
  max-height: 20px;
}

::-webkit-scrollbar-track {
  background-color: #b3a3a3;
  border-radius: 16px;
}

::-webkit-scrollbar-track:hover {
  background-color: #0c4de650;
}

.app {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 92.5px);
  overflow: auto;
  overflow-x: hidden;
  font-family: "Iran Yekan";
  padding-top: 50px;
}

.frame {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 2;
}

/* day to night bg */

.day-night .frame1 {
  background-color: rgba(0, 0, 0, 0.05);
}

.day-night .frame2 {
  background-color: rgba(0, 0, 0, 0.25);
}
.day-night .frame3 {
  background-color: rgba(0, 0, 0, 0.5);
}
.day-night .frame4 {
  background-color: rgba(0, 0, 0, 0.75);
}
.day-night .frame5 {
  background-color: rgba(0, 0, 0, 1);
}
/* .day-night .frame6 {
  background-color: rgba(0, 0, 0, 0.5);
}
.day-night .frame7 {
  background-color: rgba(0, 0, 0, 0.6);
}
.day-night .frame8 {
  background-color: rgba(0, 0, 0, 0.7);
}

.day-night .frame9 {
  background-color: rgba(0, 0, 0, 0.8);
}
.day-night .frame10 {
  background-color: rgba(0, 0, 0, 0.9);
}
.day-night .frame10 {
  background-color: rgba(0, 0, 0, 1);
} */

/* night to day bg */

.night-day .frame1 {
  background-color: rgba(0, 0, 0, 1);
}

.night-day .frame2 {
  background-color: rgba(0, 0, 0, 0.75);
}
.night-day .frame3 {
  background-color: rgba(0, 0, 0, 0.5);
}
.night-day .frame4 {
  background-color: rgba(0, 0, 0, 0.25);
}
.night-day .frame5 {
  background-color: rgba(0, 0, 0, 0.05);
}
/* .night-day .frame6 {
  background-color: rgb(106, 191, 64);
}
.night-day .frame7 {
  background-color: rgb(88, 143, 61);
}
.night-day .frame8 {
  background-color: rgb(69, 99, 54);
}

.night-day .frame9 {
  background-color: rgb(48, 61, 41);
}
.night-day .frame10 {
  background-color: rgb(25, 28, 23);
}
.night-day .frame11 {
  background-color: rgb(0, 0, 0);
} */

.about-site {
  width: 30%;
  direction: rtl;
  padding: 16px;
}

.about-site p {
  margin: 1rem 0;
}

.about-site a {
  display: inline-block;
  color: #0c4de6;
  text-decoration: none;
  margin-top: 5px;
  font-size: 14px;
}

.about-site button {
  outline: none;
  background: transparent;
  padding: 12px 16px;
  border-radius: 12px;
  font-family: "Iran Yekan";
  cursor: pointer;
  border: 2px solid #0c4de6;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .app {
    /* padding-bottom: 200px; */
    flex-direction: column;
    height: calc(100vh - 142.5px);
  }
  .about-site {
    width: 100%;
    order: 2;
    margin-top: 50px;
  }
  html {
    font-size: 12px;
  }
}
